main{
    margin:0px auto;
    margin-top: 10vh;
    padding: 20px;
    max-width: 1200px;
}

.contact-us {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.contact-us h1 {
    margin-bottom: 15px;
}

.contact-us p {
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #555;
}